*.exe
*.pdb
*.sln
*.suo
*.tlog
*.obj
*.log
/GameSample/GameSample/TestA2DAudio/Debug/*.idb
*.vcxproj
*.filters
*.user
*.idb
*.ipch
/TestA2DMath/TestA2DLinearVelocity/Debug/*.rc
*.props
*.lastbuildstate
*.sdf
*.cache
*.rc
*.manifest
/TestA2DMath/TestA2DLinearVelocity/Release/*.unsuccessfulbuild
*.res
*.opensdf
/Intermediate
/Binaries
